.card {
  margin: 4px 10px;
  box-shadow: inset 0 -1em 1em rgba(0,0,0,0.2), 0 0 0 1px rgba(0,173,176,0.553), 0.1em 0.1em 0.1em rgba(0,0,0,0.3);
  outline: 1px solid rgba(0,173,176,0.553);
  border-radius: 4px;
  max-width: 267px;
  width: 100%;
  cursor: pointer;
}
.card_curent {
  scale: 1.03;
  box-shadow: inset 0 5em 1em rgba(0,0,0,0.2), 0 0 0 1px rgba(0,173,176,0.553), 0.1em 0.1em 0.1em rgba(145,0,0,0.3);
}
.card__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px;
  direction: ltr;
}
.card__img {
  direction: ltr;
  max-height: 100%;
}
.card__button-delete {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: transparent url("../../images/delete-icon.svg") no-repeat;
  background-size: 12px 14px;
  border: none;
  min-height: 14px;
  color: #d7d7d7;
  cursor: pointer;
}
.card__button-is-favorite-size {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: transparent url("../../images/favorite.svg") no-repeat;
  background-size: 16px 16px;
  border: none;
  min-height: 16px;
  width: 16px;
  color: #f24e1e;
  transition: 0.5s;
  cursor: pointer;
}
.card__img {
  display: inline-block;
  margin-right: 10px;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.card__title {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  max-height: -webkit-max-content;
  max-height: max-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNhcmRTdGF0aW9uLnN0eWwiLCJjYXJkU3RhdGlvbi5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7RUFDRSxnQkFBUTtFQUNSLGdIQUErQztFQUUvQyx3Q0FBUztFQUNULGtCQUFlO0VBQ2YsZ0JBQVc7RUFDWCxXQUFPO0VBQ1AsZUFBUTtBQ0ZWO0FESUU7RUFDRSxXQUFPO0VBQ1AsaUhBQThDO0FDRmxEO0FES0U7RUFDRSxrQkFBVTtFQUNWLGFBQVM7RUFDVCxtQkFBZ0I7RUFDaEIsMkJBQWlCO0VBQ2pCLG1CQUFhO0VBQ2IsV0FBTztFQUNQLFlBQVM7RUFDVCxjQUFXO0FDSGY7QURLRTtFQUNFLGNBQVc7RUFFWCxnQkFBWTtBQ0poQjtBRFFFO0VBQ0Usa0JBQVU7RUFDVixVQUFPO0VBQ1AsV0FBUTtFQUNSLHFFQUFZO0VBQ1osMEJBQWlCO0VBQ2pCLFlBQVE7RUFDUixnQkFBWTtFQUNaLGNBQU87RUFDUCxlQUFRO0FDTlo7QURRRTtFQUNFLGtCQUFVO0VBQ1YsVUFBTztFQUNQLFdBQVE7RUFDUixrRUFBWTtFQUNaLDBCQUFpQjtFQUNqQixZQUFRO0VBQ1IsZ0JBQVk7RUFDWixXQUFPO0VBQ1AsY0FBTztFQUNQLGdCQUFZO0VBQ1osZUFBUTtBQ05aO0FEVUU7RUFDRSxxQkFBUztFQUNULGtCQUFjO0VBQ2QsZ0JBQWE7RUFDYixlQUFZO0VBQ1osa0JBQWU7RUFDZixXQUFPO0VBQ1AsWUFBUTtFQUNSLG1CQUFlO0FDUm5CO0FEVUU7RUFDRSxrQkFBYztFQUNkLGtCQUFZO0VBQ1osZ0JBQWE7RUFDYixlQUFXO0VBQ1gsV0FBTztFQUNQLCtCQUFZO0VBQVosdUJBQVk7RUFDWix1QkFBZTtFQUNmLG1CQUFhO0VBQ2IsZ0JBQVU7RUFDVixxQkFBaUI7QUNSckIiLCJmaWxlIjoiY2FyZFN0YXRpb24uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcInZhcmlhYmxlc1wiXHJcblxyXG4uY2FyZFxyXG4gIG1hcmdpbjogNHB4IDEwcHg7XHJcbiAgYm94LXNoYWRvdzogaW5zZXQgMCAtMWVtIDFlbSByZ2JhKDAsIDAsIDAsIDAuMiksIDAgMCAwIDFweCAkY29sb3JQcmltZXJ5ICxcclxuICAgIDAuMWVtIDAuMWVtIDAuMWVtIHJnYmEoMCwgMCwgMCwgMC4zKTtcclxuICBvdXRsaW5lOiAxcHggc29saWQgJGNvbG9yUHJpbWVyeTtcclxuICBib3JkZXItcmFkaXVzOiA0cHg7XHJcbiAgbWF4LXdpZHRoOiAyNjdweDtcclxuICB3aWR0aDogMTAwJTtcclxuICBjdXJzb3I6IHBvaW50ZXI7XHJcblxyXG4gICZfY3VyZW50XHJcbiAgICBzY2FsZTogMS4wM1xyXG4gICAgYm94LXNoYWRvdzogaW5zZXQgMCA1ZW0gMWVtIHJnYmEoMCwgMCwgMCwgMC4yKSwgMCAwIDAgMXB4ICRjb2xvclByaW1lcnkgLFxyXG4gICAgMC4xZW0gMC4xZW0gMC4xZW0gcmdiYSgxNDUsIDAsIDAsIDAuMyk7XHJcblxyXG4gICZfX3dyYXBcclxuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xyXG4gICAganVzdGlmeS1jb250ZW50OiBmbGV4LXN0YXJ0O1xyXG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgcGFkZGluZzogOHB4O1xyXG4gICAgZGlyZWN0aW9uOiBsdHI7XHJcblxyXG4gICZfX2ltZ1xyXG4gICAgZGlyZWN0aW9uOiBsdHI7XHJcblxyXG4gICAgbWF4LWhlaWdodDogMTAwJTtcclxuXHJcbiBcclxuXHJcbiAgJl9fYnV0dG9uLWRlbGV0ZVxyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgcmlnaHQ6IDVweDtcclxuICAgIGJvdHRvbTogNXB4O1xyXG4gICAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQgdXJsKFwiLi4vLi4vaW1hZ2VzL2RlbGV0ZS1pY29uLnN2Z1wiKSBuby1yZXBlYXQ7XHJcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDEycHggMTRweDtcclxuICAgIGJvcmRlcjogbm9uZTtcclxuICAgIG1pbi1oZWlnaHQ6IDE0cHg7XHJcbiAgICBjb2xvcjogI2Q3ZDdkNztcclxuICAgIGN1cnNvcjogcG9pbnRlcjtcclxuXHJcbiAgJl9fYnV0dG9uLWlzLWZhdm9yaXRlLXNpemVcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIHJpZ2h0OiA1cHg7XHJcbiAgICBib3R0b206IDVweDtcclxuICAgIGJhY2tncm91bmQ6IHRyYW5zcGFyZW50IHVybChcIi4uLy4uL2ltYWdlcy9mYXZvcml0ZS5zdmdcIikgbm8tcmVwZWF0O1xyXG4gICAgYmFja2dyb3VuZC1zaXplOiAxNnB4IDE2cHg7XHJcbiAgICBib3JkZXI6IG5vbmU7XHJcbiAgICBtaW4taGVpZ2h0OiAxNnB4O1xyXG4gICAgd2lkdGg6IDE2cHg7XHJcbiAgICBjb2xvcjogJGNvbG9yTGlrZTtcclxuICAgIHRyYW5zaXRpb246IDAuNXM7XHJcbiAgICBjdXJzb3I6IHBvaW50ZXI7XHJcblxyXG4gIFxyXG5cclxuICAmX19pbWdcclxuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgIG1hcmdpbi1yaWdodDogMTBweDtcclxuICAgIG1hcmdpbi1sZWZ0OiA4cHg7XHJcbiAgICBtYXJnaW4tdG9wOiA0cHg7XHJcbiAgICBtYXJnaW4tYm90dG9tOiA0cHg7XHJcbiAgICB3aWR0aDogNDhweDtcclxuICAgIGhlaWdodDogNDhweDtcclxuICAgIGJvcmRlci1yYWRpdXM6IDI0cHg7XHJcblxyXG4gICZfX3RpdGxlXHJcbiAgICBtYXJnaW4tcmlnaHQ6IDEwcHg7XHJcbiAgICBmb250LXN0eWxlOiBub3JtYWw7XHJcbiAgICBmb250LXdlaWdodDogNjAwO1xyXG4gICAgZm9udC1zaXplOiAxNXB4O1xyXG4gICAgY29sb3I6ICNmZmY7XHJcbiAgICBtYXgtaGVpZ2h0OiBtYXgtY29udGVudDtcclxuICAgIHRleHQtb3ZlcmZsb3c6IGVsbGlwc2lzO1xyXG4gICAgd2hpdGUtc3BhY2U6IG5vd3JhcDtcclxuICAgIG92ZXJmbG93OiBoaWRkZW47XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiIsIi5jYXJkIHtcbiAgbWFyZ2luOiA0cHggMTBweDtcbiAgYm94LXNoYWRvdzogaW5zZXQgMCAtMWVtIDFlbSByZ2JhKDAsMCwwLDAuMiksIDAgMCAwIDFweCByZ2JhKDAsMTczLDE3NiwwLjU1MyksIDAuMWVtIDAuMWVtIDAuMWVtIHJnYmEoMCwwLDAsMC4zKTtcbiAgb3V0bGluZTogMXB4IHNvbGlkIHJnYmEoMCwxNzMsMTc2LDAuNTUzKTtcbiAgYm9yZGVyLXJhZGl1czogNHB4O1xuICBtYXgtd2lkdGg6IDI2N3B4O1xuICB3aWR0aDogMTAwJTtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuLmNhcmRfY3VyZW50IHtcbiAgc2NhbGU6IDEuMDM7XG4gIGJveC1zaGFkb3c6IGluc2V0IDAgNWVtIDFlbSByZ2JhKDAsMCwwLDAuMiksIDAgMCAwIDFweCByZ2JhKDAsMTczLDE3NiwwLjU1MyksIDAuMWVtIDAuMWVtIDAuMWVtIHJnYmEoMTQ1LDAsMCwwLjMpO1xufVxuLmNhcmRfX3dyYXAge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgd2lkdGg6IDEwMCU7XG4gIHBhZGRpbmc6IDhweDtcbiAgZGlyZWN0aW9uOiBsdHI7XG59XG4uY2FyZF9faW1nIHtcbiAgZGlyZWN0aW9uOiBsdHI7XG4gIG1heC1oZWlnaHQ6IDEwMCU7XG59XG4uY2FyZF9fYnV0dG9uLWRlbGV0ZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgcmlnaHQ6IDVweDtcbiAgYm90dG9tOiA1cHg7XG4gIGJhY2tncm91bmQ6IHRyYW5zcGFyZW50IHVybChcIi4uLy4uL2ltYWdlcy9kZWxldGUtaWNvbi5zdmdcIikgbm8tcmVwZWF0O1xuICBiYWNrZ3JvdW5kLXNpemU6IDEycHggMTRweDtcbiAgYm9yZGVyOiBub25lO1xuICBtaW4taGVpZ2h0OiAxNHB4O1xuICBjb2xvcjogI2Q3ZDdkNztcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuLmNhcmRfX2J1dHRvbi1pcy1mYXZvcml0ZS1zaXplIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICByaWdodDogNXB4O1xuICBib3R0b206IDVweDtcbiAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQgdXJsKFwiLi4vLi4vaW1hZ2VzL2Zhdm9yaXRlLnN2Z1wiKSBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtc2l6ZTogMTZweCAxNnB4O1xuICBib3JkZXI6IG5vbmU7XG4gIG1pbi1oZWlnaHQ6IDE2cHg7XG4gIHdpZHRoOiAxNnB4O1xuICBjb2xvcjogI2YyNGUxZTtcbiAgdHJhbnNpdGlvbjogMC41cztcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuLmNhcmRfX2ltZyB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgbWFyZ2luLXJpZ2h0OiAxMHB4O1xuICBtYXJnaW4tbGVmdDogOHB4O1xuICBtYXJnaW4tdG9wOiA0cHg7XG4gIG1hcmdpbi1ib3R0b206IDRweDtcbiAgd2lkdGg6IDQ4cHg7XG4gIGhlaWdodDogNDhweDtcbiAgYm9yZGVyLXJhZGl1czogMjRweDtcbn1cbi5jYXJkX190aXRsZSB7XG4gIG1hcmdpbi1yaWdodDogMTBweDtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBmb250LXdlaWdodDogNjAwO1xuICBmb250LXNpemU6IDE1cHg7XG4gIGNvbG9yOiAjZmZmO1xuICBtYXgtaGVpZ2h0OiBtYXgtY29udGVudDtcbiAgdGV4dC1vdmVyZmxvdzogZWxsaXBzaXM7XG4gIHdoaXRlLXNwYWNlOiBub3dyYXA7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cbiJdfQ== */
