.button
  background: none;
  border: none;
  cursor: pointer;


.controls
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
  max-height: 100%;
  fill: var(--white);

  &__prev
    transform: rotate(180deg);
    width: 35px;

  &__next
    width: 35px;

  &__button
    width: 50px;
