@import "variables"

.card
  margin: 4px 10px;
  box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.2), 0 0 0 1px $colorPrimery ,
    0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  outline: 1px solid $colorPrimery;
  border-radius: 4px;
  max-width: 267px;
  width: 100%;
  cursor: pointer;

  &_current
    scale: 0.95
    box-shadow: inset 0 5em 1em rgba(0, 0, 0, 0.2), 0 0 0 1px $colorPrimery ,
    0.1em 0.1em 0.1em rgba(145, 0, 0, 0.3);

  &__wrap
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 8px;
    direction: ltr;

  &__img
    direction: ltr;

    max-height: 100%;

 

  &__button-delete
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: transparent url("../../images/delete-icon.svg") no-repeat;
    background-size: 12px 14px;
    border: none;
    min-height: 14px;
    color: #d7d7d7;
    cursor: pointer;

  &__button-is-favorite-size
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: transparent url("../../images/favorite.svg") no-repeat;
    background-size: 16px 16px;
    border: none;
    min-height: 16px;
    width: 16px;
    color: $colorLike;
    transition: 0.5s;
    cursor: pointer;

  

  &__img
    display: inline-block;
    margin-right: 10px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 48px;
    height: 48px;
    border-radius: 24px;

  &__title
    margin-right: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    max-height: max-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
