.levelVolume
  display: flex;
  flex-direction: column
  align-items: center
  gap: 10px;

  &__title
    margin: 0 auto;
    color: #026061;
    font-weight: 100;
    font-size: 14p

  &__buttons-wrap
    display: flex
    align-items: center
    justify-content: center
    width: 100%;

  &__button
    display: flex
    border: none
    background: inherit
    cursor: pointer;
    color: #115051;

  &__digital-scoreboard-wrap
    border: 1px solid #214a4b8d;
    border-radius: 4px;
    min-width: 50px;
    text-align: center

  &__text-button-wrap
    position: relative
    cursor: pointer;

  &__text-button
    position: absolute
    font-size: 10px;
    color: #7fffd4;
    text-align: center;
    padding: 0

    &_position-mute
      left: 14px
      top: 6px
      z-index: 10

    &_position-full
      left: 19px
      top: -20px
      z-index: 10

  &__digital-scoreboard
    position: relative
    font-size: 20px
    color: #7fffd4;
    padding: 2px
    margin: 0 auto

  &__down
    background: inherit;
    border: 20px solid transparent;
    border-right: 48px solid #214a4b8d;
    opacity: 0.6;
    position: relative;
    cursor: pointer;


  &__up
    background: inherit;
    display: inline-block;
    border: 20px solid transparent;
    border-left: 48px solid #214a4b8d;
    opacity: 0.6;
    position: relative;
    cursor: pointer;

.icon
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 36px;
  color: $blue;

  transition: all ease-in-out 0.15s;
